.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* custom styles */
body{
  background-color: #F7F9F9;
  color: #1D201F;
}
/* .orderCard {
  background-color: #F7F9F9 !important;
} */

.center {
  display: flex;
  justify-content: center;
}

.listItemCard {
  margin-bottom: 3%;
}

header {
  background-color: #009FB7;
  margin-bottom: 5%;
  padding-top: 1%;
  padding-bottom: 1%;
}

#addItemIcon {
  margin: 5%;
  margin-top: 18%;
  color: #009FB7;
  
}

.listInputField {
  margin: 2%;
}

#addItemButton {
  margin: 5%;
  background-color: #f46525;
  color: #F7F9F9;
}

#markOrderReceivedButton {
  background-color: #fb8c00;
  color: #F7F9F9;
}

.botMargin {
  margin-bottom: 3%;
}

.topMargin {
  margin-top: 3%;
}

.bodyMargins {
  margin-left: 3%;
  margin-right: 3%;
}

.flexList {
  display: flex;
  flex-direction: column-reverse;
}

#orderDetailsButton {
  background-color: #f46525;
  color: #F7F9F9;
}

#generateOrdersButton {
  background-color: #f46525;
  color: #F7F9F9;
  margin: 5%;
}


#adminIcon {
  color: #fb8c00;
}

#addSupplierIcon {
  color: #f46525;
}

.outsideSubmitButton {
  background-color: #f46525 !important;
  color: #F7F9F9 !important;
  margin-top: 5% !important;
  margin-bottom: 5% !important;
}

.orangeButton {
  background-color: #f46525 !important;
}

.bgText {
  color: #F7F9F9 !important;
}

.orangeIcon {
  color: #f46525 !important;
}

.reverse {
  display: flex;
  flex-direction: column-reverse;
}

#trash {
  color: #fb8c00;
}